@import "../../_variables.less";

.navbar-closed {
  background: transparent;
  border-color: transparent;
  .navbar-toggle {
    background-color: @navbar-grey;
  }
}

.navbar-inverse {
  z-index: 51002;
  position: absolute;
  right: 0;
  top: 0;
  width: 33%;
  float: right;
  border: 2px solid @caramel-brown;
  border-radius: 2%;
  &.navbar-closed {
    border: 0;
  }
  .icon-bar {
      background-color: @caramel-brown;
  }
}
