<nav class="navbar navbar-inverse" [class.navbar-closed]="isCollapsed">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="true">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" [collapse]="isCollapsed" >
			<ul class="nav navbar-nav">

				<li *ngFor="let route of routes | dictionary" [class.active]="router.url === route.key">
					<a [routerLink]="route.key" (click)="isCollapsed = true">
						<span *ngIf="route.value">{{route.value}}</span>
						<span *ngIf="!route.value"><i class="fa fa-home"></i></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>