<div class="admin-page" *ngIf="newAlbum">
    <h1>Új / korábbi albumok szerkesztése</h1>
    <hr/>
  
    <div class="form-group" *ngIf="selectedAlbumIdx">
      <button class="btn btn-success" (click)="clearAlbum()">Új album</button>
    </div>
    <div class="form-group">
      <label for="sel1">Album:</label>
      <select class="form-control" [(ngModel)]="selectedAlbumIdx" placeholder="Válassz egy albumot">
        <option *ngFor="let album of albums; let i = index" value="{{i}}">{{(album.title) + ' - ' + album.year}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="selectedAlbumIdx">
        <button class="btn btn-primary" (click)="loadAlbum()">Szerkeszt</button>
        <button class="btn btn-danger" (click)="deleteAlbum()">Album törlése</button>
    </div>
    
    <hr/>
  
    <div class="form-group">
      <label for="title">Cím:</label>
      <input class="form-control" name="title" [(ngModel)]="newAlbum.title" required>
    </div>
  
    <div class="form-group">
      <label for="year">Megjelenés éve:</label>
      <input class="form-control" type="text" pattern="\d*" maxlength="4" name="year" [(ngModel)]="newAlbum.year" required>
    </div>
    
    <div class="form-group">
      <label for="cover">Borítókép: <span *ngIf="newAlbum.cover">(régi kép: {{newAlbum.cover}})</span></label>
      <input class="form-control" type="file" name="cover" value="Tallózás" (change)="browseEvent($event)">
    </div>
       
    <div class="form-group">
      <button class="btn btn-primary" (click)="addAlbum()">Mentés</button>
      <div class="alert alert-success" close="closeAlert()" *ngIf="savedAlert">Mentve.</div>
      <div type="alert alert-danger" close="closeAlert()" *ngIf="errorAlert">{{errorAlert}}</div>
    </div>  
  </div>