.blog-container {
    margin: 5vh 5vw;
    .blog-bubble {
        padding: 5vh 5vw;
        border-radius: 5vw;
        height: 50vh;
        overflow: hidden;
        &:hover {
            box-shadow: 2px 2px;
            > h2 {
                text-decoration: underline;
            }
        }
        .bubble-text {
            overflow: hidden;
            height: 27vh;
            line-height: 1.5em;
        }
    }
}
.modal-text {
    white-space: pre-wrap;
}