// styles.less
@import "../node_modules/bootstrap/less/bootstrap.less";
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
@import "./_variables.less";

.alert {
    margin: 5vh;
}

textarea, .form-control {
    overflow: hidden;
    background-color: @andezit-light;
    color: @caramel-brown;
}

body, a {
    background-color: @andezit-dark;
    color: @caramel-brown !important;
    font-family: Helvetica;
}

.navbar-inverse {
  background-color: @andezit-dark;
}

.btn-link {
  color: @caramel-brown !important;
  font-family: Helvetica;
  font-size: 13pt;
}



button.btn.btn-primary {
  background-color: @coral-light;
  border-color: @coral-dark;
  &:hover, &:focus {
    background-color: @coral-dark;
  }
}
.navbar-inverse .navbar-nav > li {
    a:hover, a:focus {
        background-color: @coral-light !important;
    }
}
a:hover, a:focus {
    background-color: @coral-light;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: @andezit-light;
  a {
    background-color: @andezit-light !important;
  }
}

.navbar-header {
    button.navbar-toggle.collapsed {
        &:hover, &:focus {
            background-color: @andezit-light !important;
        }
    }
}

.panel {
    background-color: transparent;
    .panel-default > .panel-heading, .panel.card.panel-default {
        background-color: transparent;
        &:hover, &:focus {
            background-color: @andezit-light !important;
        }
    }
}

.modal-content {
  background-color: @caramel-brown !important;
  color: @andezit-dark !important;
  .modal-header {
    border-bottom: 0;
  }
}

.bubble-container {
  margin: 5vh 5vw;
  .bubble {
    background-color: @caramel-brown;
    color: @andezit-dark;

    padding: 5vh 5vw;
    overflow: hidden;
    &:hover {
      box-shadow: 2px 2px;
      > h2 {
        text-decoration: underline;
      }
    }
  }
}
